body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            'banner banner'
                'main main'
                'footer footer';
    height: 100%;
    margin: 0; /* no space between sections*/
    min-height: 100vh;
}

/*-----------------------------------BUTTONS-----------------------------------------------*/

button {
    background-color: #FF325A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FF326A;
}

/*-----------------------------------IMAGE-----------------------------------------------*/

img {
    height: 80px;
    width: 160px;
}

/*-----------------------------------HEADER-----------------------------------------------*/
header {
    grid-area: banner;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 50px;
}

header button {
    margin: 50px;
}

/*-----------------------------------FOOTER-----------------------------------------------*/
footer {
    grid-area: footer;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #F0F4F6;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0px;
    width: 100%;
}
