.userinfo{
    grid-area: main;
    display: flex;
    justify-content: flex-start; /* starts from the top*/
    flex-direction: column; /*direction of elements */
}

.read-buttons{
    display: flex; /*no other elements on the same line */
    gap: 10px;
}

/*___________________________________PROJECT INFO____________________________________________ */
.element-info {
    padding: 30px;
    margin: 20px auto;
    font-family: "Bodoni MT";
    font-size: 15px;
    line-height: 1.6;
    clear: both;
}

/*_________________________________________CATEGORY______________________________________________*/
.category-label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: dimgrey;
    border-bottom: 2px solid #FF325A;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*_______________________________________LIST OF EMP_________________________________________________*/

.user-container{
    width: 100%;
    margin-left: 100px; /*TODO: skal ændres så mere automatiseret */
    margin-top: 0;
}

.user-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Bodoni MT";
    font-size: 30px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/*_________________________________________ERROR PAGE__________________________________________________*/
.error{
    grid-area: main;
    display: flex;
    justify-content: flex-start; /* starts from the top*/
    flex-direction: column; /*direction of elements */
}

