.login-container{
    grid-area: main;
    display: flex;
    align-items: center; /*center the container */
    justify-content: flex-start; /* starts from the top*/
    flex-direction: column; /*direction of elements */
}

.login-container h1{
    font-family: "Bodoni MT";
    font-size: 40px;
}

form label, input{
    font-family: "Bodoni MT";
    display: block; /* hey*/
}

.login-button{
    display: block; /*no other elements on the same line */
    margin: 0 auto; /*centering the button */
}




