.main-area{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
}

.admin-button {
    display: flex;
    flex-direction: column; /* stacked vertically */
    align-items: flex-end; /*placed to the right */
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #FF325A;
}


