.userinfobox{
    grid-area: main;
    display: flex;
    justify-content: flex-start; /* starts from the top*/
    flex-direction: column; /*direction of elements */
}

.read-buttons{
    display: flex; /*no other elements on the same line */
    gap: 10px;
}