<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
</head>
<body>
<header th:replace="fragments/header :: site-header"></header>
<div class="form-box">
    <h1>Create Project</h1>
    <form th:action="@{/create-project}" th:object="${project}" th:method="post">

        <label th:for="*{name}">project name:</label>
        <input type="text" th:field="*{name}" autofocus required/><br>

        <label th:for="*{description}">Description:</label>
        <input type="text" th:field="*{description}" required/><br>

        <label th:for="*{startDate}">start date:</label>
        <input type="date" th:field="*{startDate}" required/><br>

        <label th:for="*{endDate}">end date:</label>
        <input type="date" th:field="*{endDate}"/><br>

        <button type="submit" class="box-button">save</button>
        <a th:href="@{/main-page/{empID}(empID=${session.emp.empID})}" class="box-button">
            <button type="button">CANCEL</button>
        </a>
    </form>
</div>
<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>