<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create subProject</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
</head>
<body>
<header th:replace="fragments/header :: site-header"></header>

<div class="form-box">
    <h1>Create subProject</h1>
    <form th:action="@{/create-subproject/{projectID}/add(projectID=${project.projectID})}" th:object="${subproject}"
          method="post">

        <input type="hidden" th:field="*{projectID}" th:value="${project.projectID}"/>

        <label th:for="*{name}">Subproject name:</label>
        <input type="text" th:field="*{name}" required/>

        <label th:for="*{description}">Description:</label>
        <input type="text" th:field="*{description}" required/>

        <label th:for="*{startDate}">Start date:</label>
        <input type="date" th:field="*{startDate}" required/>

        <label th:for="*{endDate}">End date:</label>
        <input type="date" th:field="*{endDate}"/>

        <button type="submit" class="box-button">Save</button>
        <a th:href="@{/read-project/{projectID}(projectID=${project.projectID})}" class="box-button">
            <button type="button">CANCEL</button>
        </a>
    </form>
</div>
<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>