<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/general.css}">
<link rel="stylesheet" th:href="@{/login.css}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <p th:if="${wrongCredentials}" class="error">Wrong mail or password. Try again</p>
        <p><label>Mail:</label>
            <input name="mail" type="text" autofocus></p> <!-- autofocus gør at man "starter" ved brugernavn input felt -->
        <p><label>Password:</label>
            <input name="password" type="password"></p>
        <p>
            <button type="submit">Login</button>
        </p>
    </form>
    <img
</div>
</body>
</html>