<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/info-elements.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
</head>
<body>
<header th:replace="fragments/header :: site-header"></header>

<div class="elements">
    <div class="category-label">Project</div>
    <div class="main-elements">
        <div class="element-info">
            <h1> Hello <a th:text="${session.emp.getFirstName()}"></a></h1>

            <div th:if="${session.emp.role.name() == 'PROJECT_LEADER'}">
                <p>You're a project leader</p>
                <div class="boxes">
                    <div class="box">
                        <h1>NEW PROJECT</h1>
                        <a th:href="@{/create-project}">
                            <img src="/image/plus-icon.png" class="plus-icon">
                        </a>
                    </div>

                    <div th:each="project : ${projects}" class="box">
                        <a th:href="@{/read-project/{projectID}(projectID=${project.getProjectID()})}"
                           th:text="${project.name}"></a>
                        <p th:text="${project.description}"></p>
                    </div>
                </div>

                <div th:if="${session.emp.role.name() == 'EMPLOYEE'}"> <!--T er type, da role er enum og ikke string -->
                    <p>EMPLOYEEEE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="side-elements">
        <section th:replace="fragments/overview :: site-overview"></section>
    </div>
</div>
<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>