<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/info-elements.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
</head>
<body>
<header th:replace="fragments/header :: site-header"></header>
<div class="elements">
    <div class="category-label">Projects</div>
    <div class="main-elements">
        <div class="element-info">
            <h1> Hello <a th:text="${sessionEmp.firstName}"></a></h1>

            <div th:if="${sessionEmp.role.name() == 'PROJECT_LEADER'}">
                <p><strong>Your projects</strong></p>
                <div class="boxes">
                    <div class="box">
                        <h1>NEW PROJECT</h1>
                        <a th:href="@{/create-project}">
                            <img src="/image/plus-icon.png" class="plus-icon">
                        </a>
                    </div>

                    <div th:each="project : ${allProjects}" class="box">
                        <a th:href="@{/read-project/{projectID} (projectID = ${project.projectID})}"
                           th:text="${project.name}"></a>
                        <p th:text="${project.description}"></p>
                    </div>
                </div>
            </div>
            <div th:if="${sessionEmp.role.name() == 'EMPLOYEE'}">
                <p><strong>Your projects</strong></p>
                <div class="boxes">
                    <div th:each="project : ${myProjects}" class="box">
                        <a th:href="@{/{empID}/read-my-project/{projectID} (empID = ${sessionEmp.empID}, projectID = ${project.projectID})}"
                           th:text="${project.name}"></a>
                        <p th:text="${project.description}"></p>
                    </div>
                </div>
            </div>

            <div th:if="${sessionEmp.role.name() == 'ADMIN'}">
                <div class="main-area">
                    <div class="user-container">
                        <h1>Users</h1>
                        <table class="user-table">
                            <tbody>
                            <tr th:each="emp : ${employees}">
                                <td>
                                    <a th:href="@{'/read-employee/' + ${emp.empID}}"
                                       th:text="${emp.firstName + ' ' + emp.lastName}"></a>
                                </td>
                                <td th:text="${emp.role}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="admin-button">
                        <a th:href="@{/create-employee}">
                            <button type="button">Create user</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>