<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<h1> Hello <a th:text="${session.emp.getFirstName()}"></a></h1>

<div th:if="${session.emp.getRole() == T(com.example.alphasolutions.model.Role).PROJECT_LEADER}">
    <p>You're a project leader</p>
</div>
<div th:if="${session.emp.getRole() == T(com.example.alphasolutions.model.Role).EMPLOYEE}"> <!--T er type, da role er enum og ikke string -->
    <p>EMPLOYEEEE</p>
</div>
</body>
</html>