<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>read projects</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
</head>
<body>
<header th:replace="fragments/header ::site-header"></header>

<div class="boxes">
    <div class="box">
        <h1>NEW PROJECT</h1>
        <a th:href="@{/create-project}">
            <img src="/image/plus-icon.png" class="plus-icon">
        </a>
    </div>

<form th:action="@{/create-project}" method="get">
  <button type="submit">Create project</button>
</form>


    <div th:each="project : ${projects}" class="box">
        <a th:href="@{/read-project/{projectID}(projectID=${project.getProjectID()})}"
           th:text="${project.name}"></a>
        <p th:text="${project.description}"></p>
    </div>
</div>

<footer th:replace="fragments/footer ::site-footer"></footer>
</body>
</html>