<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
    <link rel="stylesheet" th:href="@{/css/info-elements.css}">
</head>
<body>
<header th:replace="fragments/header ::site-header"></header>

<div class="elements">
    <div class="element-info">
        <h1 th:text="${task.name}"></h1><br>

        <table>
            <tr>
                <th>Description</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
            <tr>
                <td th:text="${task.description}"></td>
                <td th:text="${task.startDate}"></td>
                <td th:text="${task.endDate}"></td>
            </tr>
        </table>
    </div>
    <div class="overview">
        <div class="box-button">
            <a th:href="@{/pl/edit-task/{taskID}(taskID=${task.getTaskID()})}">
                <button type="submit">Edit task</button>
            </a>
            <a th:href="@{/pl/delete-task/{taskID}(taskID=${task.getTaskID()})}">
                <button type="submit" onclick="return confirm('Are you sure you want to delete the task?')">Delete
                    task
                </button>
            </a>
        </div>

        <h1>Overview</h1>

        <div class="mini-box">
            <h1>Time estimate: </h1>
            <p>INDSÆT METODE</p>
        </div>

        <div class="mini-box">
            <h1>Time used: </h1>
            <p>INDSÆT METODE</p>
        </div>

        <div class="mini-box">
            <h1>Time left: </h1>
            <p>INDSÆT METODE</p>
        </div>

        <div class="mini-box">
            <h1>Employees: </h1>
            <p>INDSÆT METODE</p>
        </div>

    </div>
</div>

<a th:href="@{/read-subproject/{subprojectID}(subprojectID=${task.subProjectID})}">
    <button type="button">BACK</button>
</a>
</body>
</html>
