<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>read subproject</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
    <link rel="stylesheet" th:href="@{/css/info-elements.css}">
</head>
<body>
<header th:replace="fragments/header ::site-header"></header>

<div class="elements">
    <div class="category-label">Subproject</div>
    <div class="main-elements">
        <div class="element-info">
            <h1 th:text="${subProject.name}"></h1><br>

            <label th:for="description"><strong>Description:</strong></label>
            <span th:text="${subProject.description}"></span><br>

            <label th:for="startDate"><strong>Start date:</strong></label>
            <span th:text="${subProject.startDate}"></span><br>

            <label th:for="endDate"><strong>End date:</strong></label>
            <span th:text="${subProject.endDate}"></span><br>

            <label th:for="timeEst"><strong>Time-estimate from tasks: </strong></label>
            <span><span th:text="${timeEstimate}"></span> hours</span>
        </div>


        <div class="boxes">
            <div class="box">
                <h1>NEW TASK</h1>
                <a th:href="@{/pl/create-task/{subprojectID}(subprojectID=${subProject.subProjectID})}">
                    <img src="/image/plus-icon.png" class="plus-icon">
                </a>
            </div>


            <div th:each="task : ${subProject.tasks}" class="box">
                <a th:href="@{/read-tasks/{taskID}(taskID=${task.taskID})}"
                   th:text="${task.name}">task Name</a><br>
                <span th:text="${task.description}"></span><br>
                Time Estimate: <span th:text="${task.timeEst}"></span>
                <hr>
            </div>
        </div>
    </div>

    <div class="side-elements">
        <div class="box-button">
            <a th:href="@{/edit-subproject/{subProjectID}(subProjectID=${subProject.getSubProjectID()})}">
                <button type="submit">Edit subproject</button>
            </a>
            <a th:href="@{/delete-subproject/{subProjectID}(subProjectID=${subProject.getSubProjectID()})}">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this subproject?')">
                    Delete subproject
                </button>
            </a>

            <a th:href="@{/read-project/{projectID}(projectID=${subProject.getProjectID()})}">
                <button type="button">Back</button>
            </a>
        </div>
        <section th:replace="fragments/overview :: site-overview(${totalTimeEstimate})"></section>
    </div>
</div>

<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>

