  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Employees</title>
  </head>
  <body>
  <h1>Employees</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    <tr th:each="emp : ${employees}">
      <td>
        <a th:href="@{/admin/read-employee/{empId}(empId=${emp.empID})}" th:text="${emp.firstName + ' ' + emp.lastName}">
        </a>
      </td>>
      <td th:text="${emp.mail}"></td>
      <td th:text="${emp.role}"></td>
      <td>
        <form th:action="@{/admin/read-employee/{empId}(empId=${emp.empID})}" th:method="get">
          <button type="submit">Show employee</button>
        </form>
      </td>
    </tr>
  </table>
  <a th:href="@{/admin}">
    <button type="button">Home</button>
  </a>
  </body>
  </html>
