<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
    <link rel="stylesheet" th:href="@{/css/info-elements.css}">
</head>
<body>
<header th:replace="fragments/header ::site-header"></header>

<div class="elements">
    <div class="category-label">Task</div>
    <div class="main-elements">
        <div class="element-info">
            <h1 th:text="${task.name}"></h1><br>

            <table>
                <tr>
                    <th>Description</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Time Estimate</th>
                    <th>Used Time</th>
                </tr>
                <tr>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.startDate}"></td>
                    <td th:text="${task.endDate}"></td>
                    <td th:text="${task.timeEst}"></td>
                    <td th:text="${task.usedTime}"></td>
                </tr>
            </table>
        </div>

        <div class="under-elements">
            <form th:action="@{/emp/edit-task/{taskID}(taskID=${task.getTaskID()})}" th:object="${task}" method="post">
                <label for="usedTime">Used time</label>
                <input type="number" id="usedTime" th:field="*{usedTime}"><br>
                <button type="submit">Save</button>
            </form>

            <p><strong>Assigned employees: </strong></p>
            <ul>
                <li th:each="emp : ${assignedEmployeesTask}">
                    <span th:text="${emp.firstName} + ' ' + ${emp.lastName}"></span>
                </li>
            </ul>
        </div>

    </div>
    <div th:if="${session.role.name() == 'PROJECT_LEADER'}">
        <div class="side-elements">
            <div class="box-button">
                <a th:href="@{/pl/edit-task/{taskID}(taskID=${task.getTaskID()})}">
                    <button type="submit">Edit task</button>
                </a>
                <form th:action="@{/delete-task/{taskID}(taskID=${task.getTaskID()})}" method="post">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete the task?')">Delete
                        task
                    </button>
                </form>
                <a th:href="@{/read-subproject/{subprojectID}(subprojectID=${task.subProjectID})}">
                    <button type="button">Back</button>
                </a>
                <a th:href="@{/read-tasks/{taskID}/assign-emp (taskID=${task.taskID})}">
                    <button type="submit">Assign</button>
                </a>
            </div>
            <section
                    th:replace="fragments/overview :: site-overview(${totalTimeEstimate}, ${assignedEmployeesProject}, ${totalTimeUsed})"></section>

        </div>
    </div>
    <div th:if="${session.role.name() == 'EMPLOYEE'}">
        <div class="side-elements">
            <div class="box-button">
                <a th:href="@{/{empID}/read-subproject/{subprojectID}/my-tasks (empID = ${sessionEmp.empID}, subprojectID = ${subproject.subProjectID})}">
                    <button type="button">Back</button>
                </a>
            </div>
            <section
                    th:replace="fragments/overview :: site-overview(${totalTimeEstimate}, ${assignedEmployeesProject}, ${totalTimeUsed})"></section>

        </div>
    </div>
</div>
<div th:replace="fragments/footer ::site-footer"></div>
</body>
</html>
