<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update subproject</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/box.css}">
</head>
<body>
<header th:replace="fragments/header :: site-header"></header>
<div class="form-box">
    <h1>Update subproject</h1>
    <form th:action="@{/edit-subproject/{subProjectID}(subProjectID=${subProject.getSubProjectID()})}"
          th:object="${subProject}" method="post">

        <input type="hidden" th:field="*{subProjectID}"/>

        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/><br>

        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}"/><br>

        <label for="startDate">Start date:</label><br>
        <input type="text" id="startDate" th:field="*{startDate}"/><br>

        <label for="endDate">End date:</label><br>
        <input type="text" id="endDate" th:field="*{endDate}"/><br>

        <button type="submit">Save</button>
        <a th:href="@{/read-subproject/{subprojectID}(subprojectID=${subProject.getSubProjectID()})}">
            <button type="button">CANCEL</button>
        </a>
    </form>
</div>
<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>