<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update subproject</title>
</head>
<body>
<h1>Update subproject</h1>
<form th:action="@{/edit-subproject/{subProjectID}(subProjectID=${subProject.getSubProjectID()})}" th:object="${subProject}" method="post">

  <input type="hidden" th:field="*{subProjectID}"/>

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}"/><br>

  <label for="description">Description:</label>
  <input type="text" id="description" th:field="*{description}"/><br>

  <label for="startDate">Start date:</label><br>
  <input type="text" id="startDate" th:field="*{startDate}"/><br>

  <label for="endDate">End date:</label><br>
  <input type="text" id="endDate" th:field="*{endDate}"/><br>

  <label for="timeEst">Time estimated:</label>
  <input type="text" id="timeEst" th:field="*{timeEst}"/><br>

  <button type="submit">Save</button>

</form>
<a th:href="@{/read-subproject/{subprojectID}(subprojectID=${subProject.getSubProjectID()})}">
  <button type="button">CANCEL</button>
</a>
</body>
</html>